.container {
  padding-left: 0px;
  padding-right: 0px;
}  

.card-header {
  background-color: #3d1860;
  border-color: #643579;
  color: white;
}

.card-footer button {
  background-color: #643579;
  border-color: #643579;
}

.card-footer button:hover {
  background-color: #3d1860;
  border-color: #3d1860;
}

.row .card .card-footer button:active {
  background-color: #3d1860;
  border-color: #3d1860;
}

.card-footer button:focus {
  outline: none;
  box-shadow: none;
}

.card-footer button:disabled {
  background-color: #bb99cd;
  border-color: #bb99cd;
}

.card-footer small {
  padding-left: 10px;
}

.table .thead-dark th {
  background-color: #3d1860;
  border-color: #643579;
}

a.link, .display-4, .navbar-brand span {
  color: #3d1860;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}

.dot.hollow {
  border: 1px solid #bb99cd;
}

.dot.filled {
  background-color: #bb99cd;
}

.search-form {
  text-align: right;
  vertical-align: middle;
}

.search-form button {
  margin-left: 10px;
}

.search-input {
  display: flex;

}
.form-clear {
  align-items: center;
  bottom: 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 900;
  color: rgba(0, 0, 0, .54);
  position: absolute;
  right: 10px;
  z-index: 10;
  justify-content: center;
  display: flex;
}
